
<nav class="container">
  <div class="navbar-left">
    <!-- Easy Toggle Button Here -->
    <label class="switch">
      <input type="checkbox" id="toggle-dark" onchange="document.body.classList.toggle('dark-mode')">
      <span class="slider round"></span>
    </label>
  </div>
  <ul class="navbar">
    <li><a routerLink="home" routerLinkActive="active">🏠 Home </a></li>
    <li><a routerLink="add-book" routerLinkActive="active">➕ Add Book</a></li>
    <li><a routerLink="book-list" routerLinkActive="active">📋 Book List</a></li>
    <li><a routerLink="/search" class="nav-link">🔍 Search Book</a></li> 
  </ul>
  <router-outlet></router-outlet>
</nav>
<footer class="footer">
  <p>&copy; 2025 Book Store App. All rights reserved.</p>
</footer>
