
   <div class="form-container">
    <h2>Add New Book</h2>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input id="title" name="title" [(ngModel)]="book.title" required />
  
      <label for="author">Author:</label>
      <input id="author" name="author" [(ngModel)]="book.author" required />
  
      <label for="file">Choose File:</label>
      <input id="file"  type="file"  style="background-color: white;" (change)="onFileChange($event)" required />

      <label for="image">Choose Image:</label>
      <input id="image" type="file" style="background-color: white;" (change)="onImageChange($event)" required />

  
      <button type="submit">Save Book</button>
    </form>
  </div>
  