<div class="welcome-container">
    <h1 class="main-heading">📚 Welcome to 𝘦Book App</h1>
    <p class="sub-heading">Manage your personal book collection with ease.</p>
  
    <div class="btn-group">
      <a routerLink="/add-book" routerLinkActive="active" class="btn">➕ Add Book</a>
      <a routerLink="/book-list" routerLinkActive="active" class="btn">📖 View Books</a>
    </div>
</div>

<!-- Home Page Section with Book Cards -->
<div class="home">
  <h2>Most Famous Books</h2>
  <div class="book-cards">
    <div class="book-card" *ngFor="let book of books">
      <div class="book-card-img" [style.backgroundImage]="'url(' + book.imageUrl + ')'"></div>
      <div class="book-card-body">
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">By {{ book.author }}</p>
        <p class="book-description">{{ book.description }}</p>
      </div>
    </div>
  </div>
</div>



  

  